<%= turbo_stream.update target="selectable" do %>
  <% @slots.each do |slot| %>
    <li class='list-group-item'>
      <%= (Time.now.beginning_of_day() + slot.hours).to_formatted_s(:db) %>
    </li>
  <% end %>
<% end %>
