.flash-info {
  background-color: rgba(173, 216, 230, 1) !important;
}

.flash-alert {
  background-color: rgba(250, 128, 114, 1) !important;
}

.flash-success {
  background-color: rgb(118, 250, 114) !important;
}

.end-5 {
  right: 5% !important;
}
