<div class="container mt-3">
  <h1>You can make appointment right here</h1>

  <div class="row mt-5">
    <div class="col-md-6">
      <%= render "appointments/info", last: @last, nearest: @nearest %>
    </div>

    <div class="col-md-6 border border-2 border-light rounded-4 pb-2">
      <%= render "appointments/patient_form" %>
    </div>
  </div>
</div>
